/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'EuroStyle Normal';
  font-style: normal;
  font-weight: normal;
  src: local('EuroStyle Normal'),
    url('../font/EuroStyleNormal.woff') format('woff');
}

@font-face {
  font-family: 'ModernaUnicase Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('EuroStyle Normal'),
    url('../font/modernaunicase-condensed-medium.otf') format('otf');
}

:root {
  --primary-color: #b6d1ff;
  --bg-primary: #3a4343;
  --gradient-color: linear-gradient(
    180deg,
    hsla(0, 0%, 12%, 0.4) 50%,
    #1f1f1f 100%
  );
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('../img/images/rain_bck.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100vh;
}

ul {
  list-style: none;
}

/* main */

.main {
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin: 0 auto;
  background: rgb(217, 217, 217, 0.4);
  max-width: 75rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  gap: 20px;
}

/* aside section */
.aside {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

/* Input */

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebe4d1;
  border-radius: 0.5rem;
  height: 2.5625rem;
}

.search .search-input {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border: 2px solid var(--bg-primary);
  border-right: none !important;
  background: var(--bg-primary);
  color: var(--primary-color);
  padding: 4px 0 4px 16px;
  outline: none;
  border-radius: 8px 0 0 8px;
  height: 41px;
  width: 100%;
}

.search .search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0 8px 8px 0;
  background: var(--bg-primary);
  outline: none;
  cursor: pointer;
  border: 2px solid var(--bg-primary);
  border-left: none !important;
  padding: 4px 8px 4px 12px;
  height: 41px;
  line-height: 1;
}

.search .search-input:focus,
.search-input:focus + .search-button {
  border-color: var(--primary-color);
  transition: border 0.3s;
}

/* Day Infor header */

.day-infor {
  background: var(--gradient-color),
    url('../img/images/rain_bck.jpeg') center center no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 0.5rem;
  width: 400px;
  height: 707px;
}

.day-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 1.25rem;
  text-align: center;
  padding-bottom: 0;
}

.temp-infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.day-header .date {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 3.75rem;
}

.day-header .temp {
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.day-header .city {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.25rem;
}

.day-header .city::before {
  content: '';
  background: url('../img/icons/general/local_icon.svg') no-repeat center center;
  position: absolute;
  height: 1rem;
  width: 1rem;
  display: block;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.day-header .country {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2.75rem;
}

.day-header .min-max {
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/* Day Infor footer */
.day-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.25rem;
  gap: 1.25rem;
  padding-top: 0;
}

.day-footer > div {
  background: #00000066;
  border-radius: 0.5rem;
  padding: 1.25rem;
  width: 170px;
  height: 148px;
}

.day-footer h2 {
  color: var(--primary-color);
  font-weight: 400;
  font-family: 'EuroStyle Normal', Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  letter-spacing: 0.1em;
}

.day-footer p {
  font-family: 'ModernaUnicase Condensed', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

/* grid section */

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.hourly-forecast {
  border-radius: 8px;
  background: rgba(25, 29, 30, 0.7);
  grid-area: 1 / 1 / 2 / 3;
  height: 100%;
  padding: 20px 20px 0;
  font-family: 'Poppins';
}

.hourly-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hourly-title::before {
  content: '';
  background: url('../img/icons/general/clock_icon.svg');
  height: 16px;
  width: 16px;
  display: block;
}

.forecast-list {
  display: flex;
  color: #fff;
  gap: 40px;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.forecast-list::-webkit-scrollbar {
  height: 4px;
}

.forecast-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--primary-color);
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.forecast-item p {
  font-size: 12px;
  font-weight: 400;
}

.forecast-item span {
  font-size: 32px;
  font-weight: 500;
}

/* Day Forecast */

.day-forecast {
  border-radius: 8px;
  background: rgba(25, 29, 30, 0.7);
  grid-area: 2 / 1 / 4 / 2;
  height: 500px;
  padding: 20px;
  font-family: 'Poppins';
  color: #fff;
}

.day-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.day-title::before {
  content: '';
  background: url('../img/icons/general/clock_icon.svg');
  height: 16px;
  width: 16px;
  display: block;
}
.day-forecast-list {
  gap: 10px;
  height: 90%;
  overflow-x: auto;
  padding-right: 5px;
}

.day-forecast-list::-webkit-scrollbar {
  width: 4px;
}

.day-forecast-list::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--primary-color);
}

.day-forecast-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.day-forecast-infor {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.day-forecast-infor h2 {
  font-size: 16px;
}

.day-forecast-infor p {
  font-size: 12px;
}

.minmax-forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  gap: 5px;
}
